/*Formatação geral*/

body{
    font-family: "Libre+Franklin", cursive; /*definir a fonte*/
}

h1, h2, h3{
    margin: 0;
    font-family: "Libre+Franklin";
    font-weight: 700; /*tamanho da fonte*/

}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
}

/*cabeçalho/barra de navegação*/

.logo img{
    border-radius: 50%;
}


nav {
    display: flex; /*Para se adaptar a cada navegador*/
    flex-direction: column; /*para deixar um do lado do outro*/
    align-items: center; /*Para deixar os conteúdos centralizados '-'*/
    background-color: #0F1923; 
    padding: 30px;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

nav ul li{
    text-align: center;
    width: 100%;
    font-size: 1.5em; /*vai ser uma fonte responsiva, adaptavel*/
    padding: 2%;
}

nav ul li a{
    display: inline-block; /*"aceita mais as medidas do padding"*/
    padding: 10px 0; /*direita */
    width: 100%;
    text-decoration: none;
    color: #FF1493;

}

/*Header*/

header{
    background-image: url('../img/imagem-teste.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
}

header p{
    margin-bottom: 2em;
    font-size: 1.7em;

}

.botao{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #0F1923;
    font-size: 1.0em;
    border-radius: 10%;
    transition-duration: 10ms;
}

.botao:hover{
    background-color: #FF1493;
    color: white;
}

/*Sobre*/

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    color: #FF1493;
}

#sobre h2{
    margin-top: 20px;
    font-size: 2em;
}

.foto img{
    width: 60%
}

.foto{
    float: left;
    width: 50%;
}

.textosobre{
    float: right;
    width: 50%;
}

/*especialidades*/
#especialidades{
    padding: 20px;
    display: flex; /*adaptar-se a todos navegadores*/
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0  auto;
}

#especialidades div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#especialidades p{
    line-height: 1.5;
    margin: 2vh;
    font-size: 1.2em;
}

#especialidades img{
    margin: 10px 0; /*cima e baixo, direita e esquerda*/
}

#especialidades h2{
    font-size: 2em;
}

#especialidades a{
    color: black;
    text-decoration: none;
    transition-delay: 10ms;
}

#especialidades a:hover{
    cursor: pointer;
    color: #FF1493;
    text-decoration: underline;


}

/*Competências*/
#competencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#competencias h2{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
}
#competencias h3{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}
#competencias p{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}
#competencias a{
    text-decoration: none;
}
#competencias img{
    width: 100%;
    margin-bottom: 0;
    margin-right: 12px;
    margin-left: 12px;
}
#competencias .comp p{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (min-width: 768px){ /*fazermos o site ser resposivo, cada item tem que estar aqui para ser responsivo :)*/
    /*Cabeçalho ou barra de navegação*/
    nav{
        flex-direction: row;
        justify-content: space-around;

    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }

    /*header*/
    header{
        height: 60vh;
        justify-content: center;
    }

    /*Sobre*/

    #sobre{
        flex-direction: row; /*Formato de linha*/
        flex-wrap: wrap; /*Se ocupar muito a tela, fazer a "quebra"*/
        align-items: center;
        height: 90vh;
        justify-content: center;
        min-height: 80vh;

    }
    #sobre h2{
        text-align: center;
        width: 100%;
    }

    #sobre div{
        flex-grow: 1;
        flex-basis: 300px;
        padding: 0 10px;
    }

    /*Especialidades*/
    #especialidades{
        flex-direction: row;
        flex-wrap: wrap; 
        align-items: flex-start; /*9? Começa bem perto dos cantos da página*/
        max-width: 1124px; /*Mudar após escolher as imagens!!*/
        margin: 0 auto;
    }
    #especialidades h2{
        text-align: center;
        width: 100%;
    }
    #especialidades div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    /*competencias*/
    #competencias{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #competencias h2, h3{
        width: 100%;
        text-align: center;
    }
    #competencias .comp{
        width: 33.33333%;
        text-align: center;
    }
}
